Package: stoq-repository
Version: 2017.10-1big1
Architecture: all
Maintainer: Bruno Goncalves <www.biglinux.com.br>
Installed-Size:44
Section: admin
Priority: optional
Description: Stoq repository and key

